<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wallpaper_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3265453938836007~1776005190"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
